global:
  cloudProvider:
    dockerRegistryUrl: registry
    flavor: openshift
    imagePullSecretName:
  imagePullPolicy: IfNotPresent
  tracing: {}
  metrics: {}
  
  jobManager:
    url:
    ingestion:
      jobType:
    delete:
      jobType:

cloudProvider:
    dockerRegistryUrl:
    flavor:
    imagePullSecretName:
imagePullPolicy:

ca:
  enabled: false
  useExternal: false
  secretName:
  path:
  key:

replicaCount: 1
revisionHistoryLimit: 5    # Amount of revisions we keep

image:
  repository: job-syncer
  tag:

extraVolumes: {}

extraVolumeMounts: {}

sidecars: {}

podAnnotations:
  prometheus.io/port: 8080

mcLabelsAndAnnotations:
    component: backend
    partOf: ingestion
    owner: 3d
    gisDomain: 3d
    prometheus:
      enabled: true

env:
  targetPort: 8080 
  logLevel: info
  logPrettyPrintEnabled: false
  tracing:
    enabled: false
    url: ''
  metrics:
    enabled: false
    url: ''
  intervalMS: 30000
  catalog:
    url:
    link:
      name: ''
      description: ''
      protocol: 3DTiles
      url:

resources:
  enabled: true
  value:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

livenessProbe:
  enabled: true
  initialDelaySeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  path: /liveness

readinessProbe:
  enabled: true
  initialDelaySeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  path: /liveness
